div.authorization#authorization
	div.body-auth
		div.logo
			img(src=path+"/images/logo-auth.png")
		div.title-form Вход в личный кабинет
		form
			div.input
				input#login(type="text" value="" placeholder="Имя Пользователя" required)
			div.input
				input#password(type="password" value="" placeholder="••••••••" required)
			div.button
				input#signin(type="submit" value="Войти")
