footer
	.content-footer
		.block-grafick
			.title График изменений уровня напряженности
			#chartTensions
		.block-slider
			div.title Фильтр по диапазону индекса напряженности
			.slider-gradient
				div#slider-range