header
	.logo
	.title
		.custom-select
			select#projects
	.user-menu
		ul
			li
				include ../public/kribrum/images/icons/panel/icon_user.svg
				span#username Имя Пользователя
		ul
			li
				include ../public/kribrum/images/icons/panel/icon_help.svg
			li#button-setup
				include ../public/kribrum/images/icons/panel/icon_settings.svg
