div#legend
	div.legend-content
		div.name
			b Индекс напряженности
			div.icons-option
		div.legend
			ul
				li <i style="background-color: #F0AF53;"></i> Высокий уровень 
					span (индекс >9)
				li <i style="background-color: #F9E03A;"></i> Выше среднего уровень 
					span (индекс 5-8,9)
				li <i style="background-color: #80DC79;"></i> Средний уровень 
					span (индекс 3-4,9)
				li <i style="background-color: #CFF8DA;"></i> Низкий уровень 
					span (индекс 0-2,9)
